<!DOCTYPE html>
<html>
<head>
	<title>About Todo List</title>
	<link rel="stylesheet" type="text/css" href="css/style2.css">
</head>
<body>
	<header>
		<h1>About Todo List</h1>
	</header>
	<main>
		<section>
			<h2>What is Todo List?</h2>
			<p>Todo List is a simple web application that helps you keep track of tasks that need to be done. It allows you to create a list of tasks, mark them as complete, and delete them when they are no longer needed.</p>
		</section>
		<section>
			<h2>How to use Todo List</h2>
			<ol>
				<li>Open the Todo List web application in your browser.</li>
				<li>Click the "+" button to create a new task.</li>
				<li>Type the task description in the input field and press enter.</li>
				<li>When you complete a task, click the checkbox next to it to mark it as complete.</li>
			</ol>
		</section>
		<section>
			<h2>About the developer</h2>
			<p>Todo List was created by Yash, a web developer who loves building simple and useful web applications. If you have any questions or feedback about Todo List, you can contact [Your Name] at [Your Email Address].</p>
		</section>
	</main>
	<footer>
		<p>&copy; 2023 Todo List</p>
	</footer>
</body>
</html>
